.display{
    color: black;
    /* border: 1px solid red; */
    border-bottom: 1px solid red;
    margin: 25px;
}

.display-text{
    text-align: left;
    color: black;
    /* border: 1px solid black; */
}
.card-header:hover{
    background-color: #008CBA;
}
.display-pic{

}

.add-btn:hover{
    background-color: #008CBA !important;
    font-weight: 500;
}